@import "/src/styling/responsive.scss";

nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;

  a {
    transition: all 0.4s ease;
    &:hover {
      scale: 1.05;
    }
    @include sm {
      display: none;
    }
  }

  .left {
    flex: 3;
    align-items: center;
    display: flex;
    gap: 50px;
  }

  .right {
    flex: 2;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
    background-color: #fcf5f3;
    height: 100%;

    @include md {
      background-color: transparent;
    }
    a {
      padding: 12px 24px;
      margin: 20px;
    }
    .signup {
      background-color: #fece51;
    }
    .menuIcon {
      display: none;
      z-index: 50;

      img {
        width: 36px;
        height: 36px;
        cursor: pointer;
      }
      @include sm {
        display: inline;
      }
    }
    .menu {
      position: absolute;
      top: 0;
      right: -50%;
      background-color: black;
      color: white;
      height: 100vh;
      width: 50%;
      transition: all 1s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 24px;

      &.active {
        right: 0;
      }

      @include sm {
        a {
          display: initial;
        }
      }
    }
  }

  .logo {
    font-weight: bold;
    display: flex;
    font-size: 20px;
    gap: 10px;
    align-items: center;

    span {
      @include md {
        display: none;
      }
      @include sm {
        display: initial;
      }
    }
    img {
      width: 28px;
    }
  }
}
